SMTP_HOST=mail.elordenador.org
SMTP_PORT=465
SMTP_USERNAME=notificaciones@elordenador.org
SMTP_PASSWORD=tu_contraseña
SMTP_FROM=notificaciones@elordenador.org

# Worker de correo
QUEUE_URL=https://sqs.eu-west-3.amazonaws.com/123456789012/clonetube-email
AWS_REGION=eu-west-3

# Worker de vídeo (python video_worker.py)
VIDEO_QUEUE_URL=https://sqs.eu-west-3.amazonaws.com/123456789012/clonetube-video
AWS_BUCKET_NAME=clonetube
S3_ENDPOINT_URL=
VISIBILITY_TIMEOUT=900
VISIBILITY_HEARTBEAT_SECONDS=60
TRANSCODE_TIMEOUT_SECONDS=21600
MAX_VIDEO_BYTES=107374182400
